<h4 style= "text-align: center; font-weight: bold; font-size: 30px; color: rgb(91 33 182) ">  Поздравляем! </h4>

<h4 style= "text-align: center; font-weight: bold; font-size: 28px; color: rgb(91 33 182) ">  Котик <%= @winner %> победил! </h4>


<!--<div class="container text-align: center">-->
<div class="flex justify-center">
  <div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
    <%= button_to 'На лежанку', '/', method: :get %>
  </div>
<!--<div class="flex justify-center bg-violet-800 text-white">-->
<!--<div class="flex flex-col" >-->
<!--<div class="flex w-full justify-center rounded-md border border-transparent bg-purple-300 py-2 px-4 text-sm font-medium text-black shadow-sm hover:bg-purple-400 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2">-->
  <div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
    <%= button_to 'Еще по одной', '/choose1', method: :get %>
  </div>

  <div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
    <%= button_to 'Мяустика', '/statistic', method: :get %>
  </div>
</div>
