<h4 style= "text-align: center; font-weight: bold; font-size: 30px; color: #7B33FF ">  Поздравляем! </h4>

<h4 style= "text-align: center; font-weight: bold; font-size: 28px; color: #7B33FF ">  Котик <%= @winner %>победил! </h4>


<div class="container text-align: center">
<%= button_to 'На лежанку', '/', method: :get %>
<%= button_to 'Еще по одной', '/', method: :get %> 
</div>
