<h1 style= "text-align: center; font-weight: bold; font-size: 30px; color: rgb(91 33 182) ">  Мяустика </h1>

<div class="container">
 <div class="two-lists"> 
   <div class="actual">

    </div>
    <div class="actual">
    <ul>
      <%- @users.each do |e| %>
      <li><%= "#{e.username}  #{e.course.title}" %></li>
      <%- end %>  
    </ul>
    </div>
  </div>        
<p class="text-block">
Если списки выглядят одинаково, можно двигаться дальше.
</p>
</div>        
<div class= "container">
    <div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
    <%= button_to 'Еще по одной', '/choose1', method: :get %>
    </div>
</div>
</div>