<ul>
  <li><a href="/battle?cat=Voyaka">Вояка</a></li>
  <li><a href="/battle?cat=Kogtic">Когтик</a></li>
  <li><a href="/battle?cat=Mewg">Мяуг</a></li>
  <li><a href="/battle?cat=Samewrai">Самяурай</a></li>
  <li><a href="/battle?cat=Mewlitvenik">Мяулитвенник</a></li>
  <li><a href="/battle?cat=Bulk">Бульк</a></li>
</ul>