<ul>
  <li><a href="/choose2?cat=Voyaka">Вояка</a></li>
  <li><a href="/choose2?cat=Kogtic">Когтик</a></li>
  <li><a href="/choose2?cat=Mewg">Мяуг</a></li>
  <li><a href="/choose2?cat=Samewrai">Самяурай</a></li>
  <li><a href="/choose2?cat=Mewlitvenik">Мяулитвенник</a></li>
  <li><a href="/choose2?cat=Bulk">Бульк</a></li>
</ul>