<!--<div class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500">-->
<div class="bg-gray">
<nav class="bg-violet-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-end">
      <a href="/login" aria-current="page"
          class="rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        Log in
        </a>
    <a href="/signup" aria-current="page"
              class="rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        Sign up
      </a>
    </div>
  </div>
</nav>
<div class="bg-white py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">BATTLE CATS</p>
    </div>
    <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">

      <footer>
        <a href="/info" class="flex justify-center items-center m-4 text-center text-sm text-gray-500 sm:text-center">Info</a>
        <div class="text-center text-sm text-gray-500 sm:text-center m-4">
          <span class="block sm:inline">&copy; 2023 Battle Cats Project</span>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>