<div class="bg-violet-400">
<nav class="bg-violet-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-end">
      <a href="/login" aria-current="page"
          class="rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        Log in
        </a>
    <a href="/signup" aria-current="page"
              class="rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
        Sign up
      </a>
    </div>
  </div>
</nav>
<div class="bg-blue py-24 sm:py-32 lg:py-40">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="sm:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">BATTLE CATS</p>
    </div>
    <div class="max-w-lg sm:mx-auto md:max-w-none">
      <div>
        <div class="flex justify-center mt-32">
          <div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
            <%= button_to 'В бой!', '/choose1', method: :get %>
          </div>
        </div>
        <div class="flex justify-center mt-8">
          <div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
            <%= button_to 'Info', '/info', method: :get %>
          </div>
        </div>

        <div class="flex justify-center mt-6">
          <span class="block sm:inline">&copy; 2023 Battle Cats Project</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>