<h4 style= "text-align: center; font-weight: bold; font-size: 30px; color: #7B33FF ">  Информация </h4>
    <div class="container bg-purple-100">
    <p class="text-block">
    Battle cats - браузерная игра про противостояние разных классовов котов.
    </p>
    
    <p class="text-block">
    Вам предстоит выбрать бойца, за которого вы будете сражаться против вашего врага.
    Вашим врагом может быть ваш друг, с которым вы сможете проверить ваши кошачьи способности и кото-корни, которые есть
    у каждого из нас и кто из вас настоящий кот. 
    </p>
    
    <p class="text-block">
    Когда-то давно, на задворках создания мира коты эволюционировали и разделились на классы. В данной игре вы можете выбрать понравившийся вам вид эволюции.
    </p>
    
    <p class="text-block">
    Battle cats - пошаговая игра, в которой у каждой касты котов есть определенный список способностей и умений. 
    Все это вы можете использовать во время кошачьей схватки. За один ход вы можете использовать одну способность, стоимость который не превышает объем маны вашего персонажа.
    </p>
    
    <p class="text-block">
    Победа будет за самым стойким и умелым котом.
    </p>
  </div>

  <h2 style="text-align: center; font-weight: bold; font-size: 30px; color: #7B33FF">
    Да начнется битва!
  </h2>
  
  <%= button_to 'На лежанку', '/', method: :get %>