<h1 style= "text-align: center; font-weight: bold; font-size: 30px; margin-top: 10%; color: rgb(91 33 182) ">  Информяуция </h1>
    <div class="container bg-purple-100">
    <p class="text-block">
    Battle cats - браузерная игра про противостояние разных классовов котов.
    </p>
    
    <p class="text-block">
    Вам предстоит выбрать бойца, за которого вы будете сражаться против вашего врага.
    Вашим врагом может быть ваш друг, с которым вы сможете проверить ваши кошачьи способности и кото-корни, которые есть
    у каждого из нас и кто из вас настоящий кот. 
    </p>
    
    <p class="text-block">
    Когда-то давно, на задворках создания мира коты эволюционировали и разделились на классы. В данной игре вы можете выбрать понравившийся вам вид эволюции.
    </p>
    
    <p class="text-block">
    Battle cats - пошаговая игра, в которой у каждой касты котов есть определенный список способностей и умений. 
    Все это вы можете использовать во время кошачьей схватки. За один ход вы можете использовать одну способность, стоимость который не превышает объем маны вашего персонажа.
    </p>
    
    <p class="text-block">
    Победа будет за самым стойким и умелым котом.
    </p>
  </div>

  <h2 style="text-align: center; font-weight: bold; font-size: 30px; margin-top: 40px; color: rgb(91 33 182)">
    Да начнется битва! Мяу :3
  </h2>
  
<%#= button_to 'На лежанку', '/', method: :get %>
<div class="flex justify-center">
<div class="w-fit rounded-md bg-purple-300 m-1.5 px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-purple-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">
  <%= button_to 'На лежанку', '/', method: :get %>
</div>
</div>